.container{
  width: 100%;
  margin: 0 ;
  margin-top: 70px;
  .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.cart{
  width: 280px;
  margin: 23px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cart-header{
  display: flex;
  justify-content: space-between;
  width: 261x;
  padding: 8px;
  background-color: rgb(69, 69, 221);
  color: #fff;
  span{
    font-size: 25px;
  }
  .fa-edit {
    font-size: 25px;
  }
}
.edit-icon {
  color: white; 
  text-decoration: none;
}

.edit-icon i {
  margin-right: 5px;
}

.cart-body{
  display: flex;
  align-items: center;
  width: 300px;
}

.cart-body img {
  width: 70px;
  height: 70px;
  margin-right: 25px;
}

.cart-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart-text p, .cart-text h4 {
  margin: 0;
  align-items: center;
}

.small-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  .user-text{
    color: #000;
    font-weight: 100;
  }
  .fa-user{
   font-size: 25px;
  }
}

.options-icon {
  display: flex;
  gap:20px; 
  margin-bottom: 25px;
}

.options-icon li {
  list-style: none;
}

.options-icon a {
  text-decoration: none;
  color: rgb(41, 38, 38);
  font-size: 20px;
}

.options-icon i {
  margin-right: 7px;
}


.pagination {
  display: flex;
  justify-content: center;
  
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: rgb(69, 69, 221);
  color: white;
  border: 1px solid rgb(69, 69, 221);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination .prev,
.pagination .next {
  background-color: #f1f1f1;
  color: black;
}

.pagination .disabled {
  opacity: 0.6;
  pointer-events: none;
}

.pagination .active {
  background-color: rgb(69, 69, 221);
  color: white;
  border: 1px soli rgb(69, 69, 221);
}
