<div class="container">
  <div class="small-container">
    <div class="user-text">
      <span><i class="fas fa-user"></i>Customers</span>
    </div>
    <ul class="options-icon">
      <li><a href="#" class="active-link2"><i class="fas fa-th-large"></i>Card View</a></li>
      <li><a href="#" class="active-link2"><i class="fas fa-list-ul"></i>List View</a></li>
      <li><a href="#" class="active-link2"><i class="fas fa-map-marker-alt"></i>Map View</a></li>
      <li><a href="#" class="active-link2"><i class="fas fa-plus-circle"></i>New Customer</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="cart" *ngFor="let customer of customersForCurrentPage">
      <div class="cart-header">
        <a href="#" class="active-link">{{customer.name}}</a>
        <a href="#"><i class="far fa-edit"></i></a>
      </div>
      <div class="cart-body">
        <img [src]="customer.avatar"> 
        <div class="cart-text">
          <p class="cart-address">{{customer.address}}</p>
          <a href="#" class="cart-view-order">View Orders</a>
        </div>        
      </div>
    </div>
  </div>
  <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">&laquo;</button>
    <span *ngFor="let page of pages" 
          (click)="currentPage = page" 
          [class.pagination-number]="true"
          [class.active]="currentPage === page">
      {{ page }}
    </span>
    <button [disabled]="currentPage === totalPages" (click)="currentPage = currentPage + 1">&raquo;</button>
  </div>
</div>


