.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(69, 69, 221);
  display: flex;
  padding: 0;
  align-items: center;
  height: 50px;
}

.avatar-navbar {
  display: flex;
  align-items: center;
}

.avatar-navbar img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 10px;
}

.navbarText {
 color: white;
 margin-right: 10px;
 font-size: 20px;
}

.navbarMenu {
  display: flex;
  list-style: none;
  font-size: 23px;
}

/* Non-active links */
.navbarMenu li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

/* Hover state for non-active links */
.navbarMenu li a:hover:not(.active-link) {
  background-color: rgb(164, 164, 202);
  border-color: rgb(164, 164, 202);
  transition: all 0.2s ease-in-out;
}

/* Active link */
.active-link {
  color: white;
  background-color: rgb(164, 164, 202);
  padding: 10px;
  border: 2px solid rgb(164, 164, 202);
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

/* Hover state for active link */
.active-link:hover {
  background-color: rgb(131, 131, 197);
  border-color: rgb(131, 131, 197);
  transition: all 0.2s ease-in-out;
}


